---
import { defaultLocale, type Locale } from "@/config/i18n.config";
import ChronikLayout from "@/layouts/chronik-layout.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { processMdx } from "@/lib/content/mdx";
import { reader } from "@/lib/content/reader";

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;

const page = await reader().collections.pages.readOrThrow("forschung/chronologie-datenbank");

const documentTitle = page.title;
const { title, image } = page;
const { default: Content } = await processMdx(await page.content(), locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<ChronikLayout image={image} title={title}>
		<div class="prose">
			<Content />
		</div>
	</ChronikLayout>
</PageLayout>
