---
import { Icon } from "astro-icon/components";

import LexiconSearchForm from "@/components/lexicon-search-form.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import LexiconLayout from "@/layouts/lexicon-layout.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { processMdx } from "@/lib/content/mdx";
import { reader } from "@/lib/content/reader";

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;

const page = await reader().collections.pages.readOrThrow("lexikon/index");

const documentTitle = page.title;
const { title, image } = page;
const { default: Content } = await processMdx(await page.content(), locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<LexiconLayout image={image} title={title} currentPage={"/lexikon"}>
		<div class="prose">
			<Content />
		</div>

		<div class="grid gap-y-8">
			<LexiconSearchForm />

			<div class="grid gap-x-8 gap-y-6 grid-fluid-cols-80">
				<a
					class="grid grid-cols-[auto_1fr] content-start gap-x-4 border bg-[url(/assets/images/lex_button_bg.jpg)] px-6 py-3 transition hover:bg-neutral-50"
					data-astro-reload
					href="/lexikon/werke"
				>
					<div class="row-span-2 inline-flex items-center">
						<Icon
							aria-hidden="true"
							class="size-6 shrink-0 transform text-brand-brown"
							name="lucide:book"
						/>
					</div>
					<div class="text-xl font-medium uppercase text-black">Bruckners Werke</div>
					<span class="col-start-2 row-start-2 text-xs text-brand-brown"
						>in Einzeldarstellungen</span
					>
				</a>
				<a
					class="grid grid-cols-[auto_1fr] content-start gap-x-4 border bg-[url(/assets/images/lex_button_bg.jpg)] px-6 py-3 transition hover:bg-neutral-50"
					data-astro-reload
					href="/lexikon/personen"
				>
					<div class="row-span-2 inline-flex items-center">
						<Icon
							aria-hidden="true"
							class="size-6 shrink-0 transform text-brand-brown"
							name="lucide:book"
						/>
					</div>
					<div class="text-xl font-medium uppercase text-black">Personen</div>
					<span class="text-xs text-brand-brown">rund um Bruckner</span>
				</a>
				<a
					class="grid grid-cols-[auto_1fr] content-start gap-x-4 border bg-[url(/assets/images/lex_button_bg.jpg)] px-6 py-3 transition hover:bg-neutral-50"
					data-astro-reload
					href="/lexikon/orte"
				>
					<div class="row-span-2 inline-flex items-center">
						<Icon
							aria-hidden="true"
							class="size-6 shrink-0 transform text-brand-brown"
							name="lucide:book"
						/>
					</div>
					<div class="text-xl font-medium uppercase text-black">Orte</div>
					<span class="text-xs text-brand-brown">die mit Bruckner in Zusammenhang stehen</span>
				</a>
				<a
					class="grid grid-cols-[auto_1fr] content-start gap-x-4 border bg-[url(/assets/images/lex_button_bg.jpg)] px-6 py-3 transition hover:bg-neutral-50"
					data-astro-reload
					href="/lexikon/sachbegriffe"
					><div class="row-span-2 inline-flex items-center">
						<Icon
							aria-hidden="true"
							class="size-6 shrink-0 transform text-brand-brown"
							name="lucide:book"
						/>
					</div>
					<div class="text-xl font-medium uppercase text-black">Sachbegriffe aller Art</div>
					<span class="text-xs text-brand-brown">von "ABCD" bis "Zyklus"</span>
				</a>
				<a
					class="grid grid-cols-[auto_1fr] content-start gap-x-4 border bg-[url(/assets/images/lex_button_bg.jpg)] px-6 py-3 transition hover:bg-neutral-50"
					data-astro-reload
					href="/lexikon/artikel"
					><div class="row-span-2 inline-flex items-center">
						<Icon
							aria-hidden="true"
							class="size-6 shrink-0 transform text-brand-brown"
							name="lucide:book"
						/>
					</div>
					<div class="text-xl font-medium uppercase text-black">Alle ABLO-Artikel</div>
					<span class="text-xs text-brand-brown">in alphabetischer Auflistung</span>
				</a>
				<a
					class="grid grid-cols-[auto_1fr] content-start gap-x-4 border bg-[url(/assets/images/lex_button_bg.jpg)] px-6 py-3 transition hover:bg-neutral-50"
					href="https://musiklexikon.ac.at/0xc1aa5576_0x0001f96d"
					target="_blank"
					><div class="row-span-2 inline-flex items-center">
						<Icon
							aria-hidden="true"
							class="size-6 shrink-0 transform text-brand-brown"
							name="lucide:book"
						/>
					</div>
					<div class="text-xl font-medium uppercase text-black">Bruckner im OeML</div>
					<span class="text-xs text-brand-brown">Osterreichisches Musiklexikon</span>
				</a>
			</div>
		</div>
	</LexiconLayout>
</PageLayout>
