---
import SubmitButton from "@/components/form/submit-button.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n";

interface Props {
	q?: string;
	field?: "all" | "title";
}

const { q, field } = Astro.props;

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;
const { t } = await createI18n(locale);
---

<form
	action="/lexikon/suche"
	class="grid grid-cols-[1fr_auto_auto] gap-x-4"
	data-astro-reload
	method="get"
	role="search"
>
	<label>
		<div class="sr-only">{t("LexiconSearchForm.search")}</div>
		<input
			class="size-full rounded-md border px-4 py-2"
			name="q"
			placeholder={t("LexiconSearchForm.search")}
			type="search"
			value={q}
		/>
	</label>

	<label>
		<div class="sr-only">{t("LexiconSearchForm.field")}</div>
		<select class="h-full rounded-md border px-4 py-2" name="field">
			<option selected={field === "all"} value="all">{t("LexiconSearchForm.all-fields")}</option>
			<option selected={field === "title"} value="title">{t("LexiconSearchForm.headings")}</option>
		</select>
	</label>

	<input name="start" type="hidden" value="1" />

	<SubmitButton>
		{t("LexiconSearchForm.search")}
	</SubmitButton>
</form>
