---
interface Props {
	class?: string;
	variant?: "full-height";
}

const { class: className, variant } = Astro.props;
---

<section
	class:list={[
		"mx-auto w-full max-w-screen-lg px-4 py-4 grid gap-y-6",
		variant === "full-height" ? "min-h-full" : undefined,
		className,
	]}
>
	<slot />
</section>
