---
interface Props {
	class?: string;
	variant?: "full-height";
	fullWidth?: boolean;
}

const { class: className, variant, fullWidth = false } = Astro.props;
---

<section
	class:list={[
		"mx-auto grid w-full gap-y-6 p-4",
		variant === "full-height" ? "min-h-full" : undefined,
		fullWidth ? undefined : " max-w-screen-lg",
		className,
	]}
>
	<slot />
</section>
