---
interface Props {
	class?: string;
	variant?: "full-height";
}

const { class: className, variant } = Astro.props;
---

<section
	class:list={[
		"mx-auto grid w-full max-w-screen-lg gap-y-6 p-4",
		variant === "full-height" ? "min-h-full" : undefined,
		className,
	]}
>
	<slot />
</section>
