---
import { defaultLocale, type Locale } from "@/config/i18n.config";
import KopistenLayout from "@/layouts/kopisten-layout.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { createCollectionResource } from "@/lib/keystatic/resources";

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;

const page = await createCollectionResource("pages", locale).read("forschung/kopisten/index");

const { title, image, content } = page.data;
const documentTitle = title;
const { default: Content } = await page.compile(content);
---

<PageLayout locale={locale} title={documentTitle}>
	<KopistenLayout image={image} title={title}>
		<div class="prose">
			<Content />
		</div>
	</KopistenLayout>
</PageLayout>
