---
import LexiconNav from "@/components/lexicon-nav.astro";
import MainContent from "@/components/main-content.astro";
import MobileLexiconNav from "@/components/navigation/mobile-lexicon-nav.astro";
import PageCard from "@/components/page-card.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";

interface Props {
	title: string;
	image?: string | null;
	currentPage?: string;
}

const { currentPage, title, image } = Astro.props;
---

<MainContent>
	<div class="bg-white">
		<div
			class="mx-auto flex w-full max-w-screen-lg items-center justify-end pe-8 pt-4 text-md font-medium"
		>
			<LexiconNav currentPage={currentPage} />
		</div>
		<MobileLexiconNav />
	</div>

	<PageSection>
		<PageCard image={image}>
			<PageTitle>{title}</PageTitle>
			<slot />
		</PageCard>
	</PageSection>
</MainContent>
